body {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #E5E7EB;
}

header {
  background-color: #1E40AF;
  color: white;
}

h1 {
  font-size: 30px;
  color: #1E40AF;
}

hr {
  color: #1E40AF;
  max-width: 70%;
  border: 1px solid #1E40AF;
}

.logo {
  padding: 10px;
  display: flex;
  align-items: center;
}

.logo input {
  margin-left: auto;
  margin-right: 30px;
  height: 25px;
  width: 300px;
}

.logo img {
  width: 50%;
  height: 70px;
}

nav a{
  color: white;
  text-decoration: none;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  align-items: center;
  text-align: center;
}

ul li {
  width: 20%;
  list-style: none;
}

.images img {
  height: 100%;
  width: 100%;
}

.coming-soon {
  text-align: center;
}

.coming-soon h1 {
  padding: 20px;
}

.coming-soon div {
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.coming-soon p {
  display: inline-block;
  width: 25%;
}

.brands {
  text-align: center;
}

.brands h1 {
  padding: 20px;
}

.brands div {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  align-items: center;
}

.brands p {
  width: 25%;
}

.contact-us {
  text-align: center;
  height: 400px;
}

.contact-us h1 {
  padding: 20px;
}

.disclaimer {
  text-align: center;
}

.disclaimer h1 {
  padding: 20px;
}

.disclaimer div {
  height: 300px;
  padding: 20px;
}

.disclaimer p {
  font-size: 18px;
  margin-top: 50px;
}

.footer {
  height: 100px;
  text-align: center;
  padding-top: 20px;
  background-color: #1E40AF;
  color: white;
}
