.navbar-brand,h1 {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 255, 0.705);
}
.carousel-control-prev {
    background: transparent;
    border: none;
}
.carousel-control-next {
    background: transparent;
    border: none;
}

.card {
    align-items: center;
    border: none;
    border-radius: 0;
}

.card-group {
    text-align: center;
}

.card-img-top {
    width: 40%;
}

.disclaimer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer {
    background-color: rgba(0, 0, 255, 0.712);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}